

.navigation-div{
    width: 100%;
    background: #00bcd4;
    color: #ffffff;
    padding: 10%;
}
.user-name{
    position: relative;
    top: -12px;
    left: 5%;
    color: white;
    text-align: center;
}